[Desktop Entry]
Encoding=UTF-8
Name=Hablamemo
Name[el]=Hablamemo
Comment=Memory game using configurable card sets
Comment[el]=Παιχνίδι μνήμης με διαμορφώσιμα σύνολα καρτών
Icon=hablamemo-icon
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=800,600

X-KDE-PluginInfo-Author=Dimitris Kardarakos
X-KDE-PluginInfo-Email=dimkard@gmail.com
X-KDE-PluginInfo-Name=org.kde.hablamemo
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=org.kde.hablamemo
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Fun and Games
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-RequiredExtensions=LaunchApp,http